body{
  margin:0;
  font-family: Arial;
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.container{
  background:white;
  width:90%;
  max-width:350px;
  margin:100px auto;
  padding:30px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

.login-btn{
  width:100%;
  padding:12px;
  background:#2a5298;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
}

.login-btn:hover{
  background:#1e3c72;
}

.lang-switch{
  display:flex;
  justify-content:flex-end;
  margin-bottom:10px;
}

.lang-switch button{
  margin-left:5px;
  padding:5px 10px;
  border:none;
  border-radius:5px;
  background:#eee;
}
.card{
  background:#f1f1f1;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
  cursor:pointer;
  font-size:18px;
}

.card:hover{
  background:#ddd;
}
